body {
  background-color: rgb(223, 253, 253);
}

.column1 {
  float: left;
  margin-left: 30%;
  text-align: center;
}

.column2 {
  float: right;
  margin-right: 30%;
  text-align: center;
}

img {
  border-radius: 50px;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 6px 0 #ebcd48;
  color: rgb(255, 0, 0);
}

p {
  color: red;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 1px 0 yellowgreen;
}
